name: .NET 8 CI

on:
  push:
    branches:
      - '**' 
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        path: s

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Install dotnet-format
      run: dotnet tool install -g dotnet-format

    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Restore NuGet packages
      run: dotnet restore BackApi.sln --force --no-cache

    - name: Clean solution
      run: dotnet clean BackApi.sln

    - name: Build project
      run: dotnet build BackApi.sln --configuration Release

    - name: Verify code formatting
      run: dotnet format --verify-no-changes --no-restore
