name: Tests

on:
  push:
    branches:
      - '**' 
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Repository Checkout
      uses: actions/checkout@v3

    - name: .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'

    - name: Clean artifacts
      run: |
        rm -rf **/bin
        rm -rf **/obj

    - name: Clear NuGet cache
      run: dotnet nuget locals all --clear

    - name: Restore NuGet packages
      run: dotnet restore BusinessLogic.Tests/BusinessLogic.Tests.csproj --force --no-cache

    - name: Build tests
      run: dotnet build BusinessLogic.Tests/BusinessLogic.Tests.csproj --configuration Debug

    - name: Run tests
      run: dotnet test BusinessLogic.Tests/BusinessLogic.Tests.csproj --configuration Debug --no-build --verbosity normal